<%- include('head', { title }) %>
  <div class="auth-wrap">
    <div class="auth-card">
      <div class="auth-brand">
        <img class="auth-logo" src="/img/logo.png" alt="NC OTP logo" />
        <div class="auth-name">NC OTP</div>
      </div>